<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.booktracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BookTracker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".view.ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".view.ui.MainActivity"/>
        <activity
            android:name=".view.ui.BookSearchActivity"
            android:label="@string/search_book_activity_title"
            android:parentActivityName=".view.ui.MainActivity" />
        <activity
            android:name=".view.ui.BookActivity"
            android:label="@string/book_info_activity_title"
            android:parentActivityName=".view.ui.MainActivity" />
        <activity
            android:name=".view.ui.MainActivity"
            android:label="BookTracker"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.booktracker.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>